.nyitva-menu
{
    text-align: center;
    margin: auto auto;
    margin-bottom: 4vh;
    font-size: 1.4vw;
}

.bal
{
    text-align: right;
}

.jobb
{
    padding-left: 1.2vw;
}

.menu .title
{
    text-align: center;
    font-size: 2.5vw;
    margin: auto auto;
    padding-left: 3vw;
}

.nyitva {
    list-style-type: none;
    font-size: 1.3vw;
}

.also-menu {
    background-color: black;
    color: white;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
}

.also-menu a {
    color: white;
    text-decoration: none;
    margin: 0 1.5vw;
    font-size: 1.2vw;
}

.menu {
    width: 100%;
    padding-bottom: 0;
}