.galeria-menu
{
    max-width: 80%;
    margin: auto auto;
}

.fejlec {
    padding: 2vw;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.galeria-item {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:transform 0.3s;
    display: grid;
    box-sizing: border-box;
}
.galeria-item:hover {
    transform: scale(1.05);
}
.galeria-item img {
    width: 100%;
    height: auto;
    display: block;
    margin:auto;
}
.nev {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #ffecb3;
    margin-top: auto;
}