        .elerhetoseg h2
        {
            font-size: 2.3vw;
        }

        #jel
        {
            font-size: 1.3vw;
        }

        svg {
            width: 1.5vw;
            height: auto;
        }

        .container
        {
            margin: auto;
            justify-content: center;
            align-items: center;
        }

        iframe
        {
            width:100%;
            height: 35vw;
            border: 0;
        }

        .logo2 {
            width: auto;
            height: 100%;
            border: none;
            border-radius: 8px;
        }

        .logo1 {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        img {
            width: 20vw;
            height: auto;
        }

        .menu .logo1 img:hover {
            transform: scale(1.05);
        }