        .elerhetoseg h2
        {
            font-size: 2.3dvw;
        }

        #jel
        {
            font-size: 1.3dvw;
        }
        
        .nyitva-menu
        {
            text-align: center;
        }

        .title
        {
            padding-left: 2.8dvw;
            font-size: 2dvw;
        }

        .nyitva {
            list-style-type: none;
            font-size: 1.3dvw;
        }

        svg {
            width: 1.5dvw;
            height: auto;
        }

        .also-menu {
            background-color: black;
            color: white;
            padding: 1dvw;
            text-align: center;
        }

        .also-menu a {
            color: white;
            text-decoration: none;
            margin: 0 1.5dvw;
            font-size: 1.2dvw;
        }

        .menu {
            width: 100%;
            padding-bottom: 0;
            background-color: red;
        }

        .logo2 {
            width: auto;
            height: 100%;
            border: none;
            border-radius: 8px;
            background-color: blue;
        }

        .logo1 {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: yellow;
        }

        img {
            width: 20dvw;
            height: auto;
        }

        img:hover {
            transform: scale(1.05);
        }